<div class="container-fluid p-0">
  <div class="row w-100 mx-0 auth-page">
    <div class="col-md-12 col-xl-12 mx-auto">
      <!-- <div class="login-logo">
        <a routerLink="/">
          <img src="../../../../../assets/images/logo.png" class="img-responsive mb-3">
        </a>
      </div> -->
      <div class="">
        <div class="row">
          <div class="col-md-6 p-0  align-items-center d-flex">
            <!-- <div class="auth-side-wrapper login-bg"></div> -->
        
            <div class="img_part">
              <img src="http://aclirea.com/nic/assets/images/login/earth.png" class="img-fluid">
            </div>
           

          </div>
          <div class="col-md-6 ps-md-0">
            <div class="login_form pt-5">
            <div class="login-logo">
              <a routerLink="/">
                <img src="http://aclirea.com/nic/assets/images/logo.png" class="img-responsive mb-3">
              </a>
            </div>
            <div class="spinner-wrapper full-screen" *ngIf="loader">
              <div class="spinner"></div>
            </div>
            <div class="auth-form-wrapper px-4 py-5" *ngIf="!loader">
              <a routerLink="." class="nobleui-logo d-block mb-2">Login</a>
              <h5 class="text-muted fw-normal mb-4">Welcome back! Log in to your account.</h5>
              <div class="alert alert-danger text-center" *ngIf="errorMessage">{{errorMessage}}</div>
              <form class="forms-sample" [formGroup]="loginForm" (ngSubmit)="loginUser()">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"
                    formControlName="email">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                    formControlName="password">
                </div>
                <div class="form-check mb-3 d-flex justify-content-space-between">
                  <div class="remember-box">
                    <input type="checkbox" class="form-check-input" id="authCheck">
                    <label class="form-check-label" for="authCheck">
                      Remember me
                    </label>
                  </div>
                  <div class="forgote">
                    <a class="d-block text-muted">Forgot Password?</a>
                  </div>
                </div>
                <div>
                  <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0">Login</button>
                </div>
                <a routerLink="/auth/register" class="d-block mt-3 text-muted">Not a user? Sign up</a>
              </form>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>