<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Welcome to Dashboard</h4>
  </div>

  <!-- Button trigger modal -->
  <button class="btn btn-primary" (click)="openBasicModal(videopop)">Watch
    Video</button>
  <!-- Modal -->

  <!-- Close result -->

  <!-- Modal -->
  <!-- <div class="modal fade" id="videopop" tabindex="-1" aria-labelledby="videopoplabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="videopoplabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div _ngcontent-ng-c2501139831="" class="video-wrap"><video _ngcontent-ng-c2501139831="" id="video" loop=""
            autoplay="autoplay" playsinline="" class="custom-video">
            <source _ngcontent-ng-c2501139831="" src="../../../../assets/images/watch_video.mp4" type="video/mp4">
          </video></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

  <!--   <div class="d-flex align-items-center flex-wrap text-nowrap">
      <div class="input-group wd-200 me-2 mb-2 mb-md-0">
        <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="d.toggle()">
          <i data-feather="calendar" appFeatherIcon></i>
        </button>
        <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd"
            name="dp" [(ngModel)]="currentDate" ngbDatepicker #d="ngbDatepicker">
      </div>
      <button type="button" class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0">
        <i class="btn-icon-prepend" data-feather="printer" appFeatherIcon></i>
        Print
      </button>
      <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
        <i class="btn-icon-prepend" data-feather="download-cloud" appFeatherIcon></i>
        Download Report
      </button>
    </div> -->
</div>

<div class="videipop">
  <ng-template #videopop let-modal>
  
    <div class="modal-body vidpopup p-3">
      <div  class="video-wrap"><video id="video" controls autoplay loop="" width="100%" height="100%"
        autoplay="autoplay" playsinline="" class="custom-video">
        <source src="http://aclirea.com/nic/assets/images/watch_video.mp4" type="video/mp4">
      </video></div>
       <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
  
  </ng-template>
  </div>
<!-- 
  <div class="row">
    <div class="col-12 col-xl-12 stretch-card">
      <div class="row flex-grow-1">
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">New Customers</h6>
                <div ngbDropdown class="mb-2">
                  <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton">
                    <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="mb-2">3,897</h3>
                  <div class="d-flex align-items-baseline">
                    <p class="text-success">
                      <span>+3.3%</span>
                      <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i>
                    </p>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-7">
                  <div class="mt-md-3 mt-xl-0">
                    <apx-chart
                      [series]="customersChartOptions.series"
                      [chart]="customersChartOptions.chart"
                      [colors]="customersChartOptions.colors"
                      [xaxis]="customersChartOptions.xaxis"
                      [stroke]="customersChartOptions.stroke"
                      [markers]="customersChartOptions.markers"
                    ></apx-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">New Orders</h6>
                <div ngbDropdown class="mb-2">
                  <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton1">
                    <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="mb-2">35,084</h3>
                  <div class="d-flex align-items-baseline">
                    <p class="text-danger">
                      <span>-2.8%</span>
                      <i data-feather="arrow-down" appFeatherIcon class="icon-sm mb-1"></i>
                    </p>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-7">
                  <div class="mt-md-3 mt-xl-0">
                    <apx-chart
                      [series]="ordersChartOptions.series"
                      [chart]="ordersChartOptions.chart"
                      [colors]="ordersChartOptions.colors"
                      [plotOptions]="ordersChartOptions.plotOptions"
                      [xaxis]="ordersChartOptions.xaxis"
                    ></apx-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Growth</h6>
                <div ngbDropdown class="mb-2">
                  <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton2">
                    <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="mb-2">89.87%</h3>
                  <div class="d-flex align-items-baseline">
                    <p class="text-success">
                      <span>+2.8%</span>
                      <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i>
                    </p>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-7">
                  <div class="mt-md-3 mt-xl-0">
                    <apx-chart
                      [series]="growthChartOptions.series"
                      [chart]="growthChartOptions.chart"
                      [colors]="growthChartOptions.colors"
                      [xaxis]="growthChartOptions.xaxis"
                      [stroke]="growthChartOptions.stroke"
                      [markers]="growthChartOptions.markers"
                    ></apx-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<div class="row">
  <div class="col-6 col-xl-6 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">

          <h6 class="card-title mb-0">Device (Temperature)</h6>
          <button class="btn btn-outline-primary" (click)="openXlModal(xlModal)">
            Edit
          </button>
          <!-- Modal -->
          <ng-template #xlModal let-modal>
            <!-- <form [formGroup]="productForm" (ngSubmit)="onSubmit()">   -->
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Temperature Data</h5>
                <button type="button" class="btn-close" (click)="modal.close('by: close icon')"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 1</label>
                    <input formControlName="current1" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 1</label>
                    <input formControlName="time1" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 2</label>
                    <input formControlName="current2" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 2</label>
                    <input formControlName="time2" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 3</label>
                    <input formControlName="current3" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 3</label>
                    <input formControlName="time3" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 4</label>
                    <input formControlName="current4" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 4</label>
                    <input formControlName="time4" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 5</label>
                    <input formControlName="current5" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 5</label>
                    <input formControlName="time5" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>

              </div>
              <div class="modal-footer">

                <!-- <button type="button" (click)="addQuantity()" class="btn btn-primary">Add More rows</button> -->
                <button type="submit" class="btn btn-primary" (click)="modal.close('by: save button')">Save &
                  close</button>
                <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
              </div>
            </form>
            <!-- </form>   -->
          </ng-template>
          <!-- Close result -->




        </div>
        <div class="flot-wrapper">
          <apx-chart [series]="revenueChartOptions.series" [chart]="revenueChartOptions.chart"
            [colors]="revenueChartOptions.colors" [grid]="revenueChartOptions.grid" [xaxis]="revenueChartOptions.xaxis"
            [yaxis]="revenueChartOptions.yaxis" [markers]="revenueChartOptions.markers"
            [stroke]="revenueChartOptions.stroke"></apx-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-xl-6 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
          <h6 class="card-title mb-0">Device (Power)</h6>
          <button class="btn btn-outline-primary" (click)="openXlModal(xlModal2)">
            Edit
          </button>
          <!-- Modal -->
          <ng-template #xlModal2 let-modal>
            <!-- <form [formGroup]="productForm" (ngSubmit)="onSubmit()">   -->
            <form [formGroup]="myForm2" (ngSubmit)="onSubmit2(myForm2)">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Power Data</h5>
                <button type="button" class="btn-close" (click)="modal.close('by: close icon')"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 1</label>
                    <input formControlName="current11" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 1</label>
                    <input formControlName="time11" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 2</label>
                    <input formControlName="current21" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 2</label>
                    <input formControlName="time21" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 3</label>
                    <input formControlName="current31" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 3</label>
                    <input formControlName="time31" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 4</label>
                    <input formControlName="current41" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 4</label>
                    <input formControlName="time41" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 5</label>
                    <input formControlName="current51" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 5</label>
                    <input formControlName="time51" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>

              </div>
              <div class="modal-footer">

                <!-- <button type="button" (click)="addQuantity()" class="btn btn-primary">Add More rows</button> -->
                <button type="submit" class="btn btn-primary" (click)="modal.close('by: save button')">Save &
                  close</button>
                <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
              </div>
            </form>
            <!-- </form>   -->
          </ng-template>
          <!-- Close result -->




        </div>
        <div class="flot-wrapper">
          <apx-chart [series]="revenueChartOptions2.series" [chart]="revenueChartOptions2.chart"
            [colors]="revenueChartOptions2.colors" [grid]="revenueChartOptions2.grid"
            [xaxis]="revenueChartOptions2.xaxis" [yaxis]="revenueChartOptions2.yaxis"
            [markers]="revenueChartOptions2.markers" [stroke]="revenueChartOptions2.stroke"></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->
<div class="row">
  <div class="col-6 col-xl-6 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
          <h6 class="card-title mb-0">Device (Voltage)</h6>
          <button class="btn btn-outline-primary" (click)="openXlModal(xlModal3)">
            Edit
          </button>
          <!-- Modal -->
          <ng-template #xlModal3 let-modal>
            <!-- <form [formGroup]="productForm" (ngSubmit)="onSubmit()">   -->
            <form [formGroup]="myForm3" (ngSubmit)="onSubmit3(myForm3)">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Voltage Data</h5>
                <button type="button" class="btn-close" (click)="modal.close('by: close icon')"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 1</label>
                    <input formControlName="current12" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 1</label>
                    <input formControlName="time12" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 2</label>
                    <input formControlName="current22" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 2</label>
                    <input formControlName="time22" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 3</label>
                    <input formControlName="current32" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 3</label>
                    <input formControlName="time32" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 4</label>
                    <input formControlName="current42" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 4</label>
                    <input formControlName="time42" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 5</label>
                    <input formControlName="current52" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 5</label>
                    <input formControlName="time52" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>

              </div>
              <div class="modal-footer">

                <!-- <button type="button" (click)="addQuantity()" class="btn btn-primary">Add More rows</button> -->
                <button type="submit" class="btn btn-primary" (click)="modal.close('by: save button')">Save &
                  close</button>
                <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
              </div>
            </form>
            <!-- </form>   -->
          </ng-template>
          <!-- Close result -->


        </div>
        <div class="flot-wrapper">
          <apx-chart [series]="revenueChartOptions3.series" [chart]="revenueChartOptions3.chart"
            [colors]="revenueChartOptions3.colors" [grid]="revenueChartOptions3.grid"
            [xaxis]="revenueChartOptions3.xaxis" [yaxis]="revenueChartOptions3.yaxis"
            [markers]="revenueChartOptions3.markers" [stroke]="revenueChartOptions3.stroke"></apx-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-xl-6 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
          <h6 class="card-title mb-0">Device (Humidity)</h6>
          <button class="btn btn-outline-primary" (click)="openXlModal(xlModal4)">
            Edit
          </button>
          <!-- Modal -->
          <ng-template #xlModal4 let-modal>
            <!-- <form [formGroup]="productForm" (ngSubmit)="onSubmit()">   -->
            <form [formGroup]="myForm4" (ngSubmit)="onSubmit4(myForm4)">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Humidity Data</h5>
                <button type="button" class="btn-close" (click)="modal.close('by: close icon')"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 1</label>
                    <input formControlName="current13" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 1</label>
                    <input formControlName="time13" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 2</label>
                    <input formControlName="current23" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 2</label>
                    <input formControlName="time23" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 3</label>
                    <input formControlName="current33" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 3</label>
                    <input formControlName="time33" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 4</label>
                    <input formControlName="current43" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 4</label>
                    <input formControlName="time43" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label>
                      Current 5</label>
                    <input formControlName="current53" type="text" placeholder="Current" class="form-control">

                  </div>
                  <div class="col-sm-6">
                    <label>
                      Time 5</label>
                    <input formControlName="time53" type="text" placeholder="Time" class="form-control">

                  </div>
                </div>

              </div>
              <div class="modal-footer">

                <!-- <button type="button" (click)="addQuantity()" class="btn btn-primary">Add More rows</button> -->
                <button type="submit" class="btn btn-primary" (click)="modal.close('by: save button')">Save &
                  close</button>
                <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
              </div>
            </form>
            <!-- </form>   -->
          </ng-template>
          <!-- Close result -->


        </div>
        <div class="flot-wrapper">
          <apx-chart [series]="revenueChartOptions4.series" [chart]="revenueChartOptions4.chart"
            [colors]="revenueChartOptions4.colors" [grid]="revenueChartOptions4.grid"
            [xaxis]="revenueChartOptions4.xaxis" [yaxis]="revenueChartOptions4.yaxis"
            [markers]="revenueChartOptions4.markers" [stroke]="revenueChartOptions4.stroke"></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->