
<app-data-table
  [tableTitle]="'Custom Data Table'"
  [tableColumns]="tableColumns"
></app-data-table>
<!-- [tableData]="customTableData" -->
<!-- 
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">IOT Device</h6>
  
          <div class="table-responsive pt-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="10%">Sl no.</th>
                  <th width="15%">Device id</th>
                  <th width="15%">Device Type</th>
                  <th width="15%">Location</th>
                  <th width="15%">Version</th>
                  <th width="15%">Status</th>
                  <th width="15%">Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of devices; let i = index">
                  <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.deviceId }}</td>
                    <td>{{ item.device_type }}</td>
                    <td>{{ item.location }}</td>
                    <td>{{ item.version }}</td>
                    <td>
                      <span class="badge bg-{{ item.status === 'enabled' ? 'success' : 'warning' }} btn me-2">{{ item.status }}</span>
                    </td>
                    <td>
                      <span class="badge bg-danger btn"><i class="feather icon-trash-2 icon-md"></i></span>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
  
        </div>
      </div>
    </div>
  </div>
   -->